@page "/player"

<h2>Player Menu</h2>

<div style="width:200px;">
    <div style="float: left; width: 130px">
        <button class="btn btn-primary" @onclick='() => Navigate("player")'>Create New Player</button>
    </div>
    <div style="float: right; width: 225px">
        <button class="btn btn-primary" @onclick='() => Navigate("player")'></button>
    </div>
</div>

@code 
{
    
}
